<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--    <script th:src="@{/js/upload.js}"></script>-->
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
    <title>Add</title>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <h1>Add</h1>
    <form th:action="@{/products/add}" th:object="${product}" method="post" enctype="multipart/form-data">
        <div class="col-6 mb-3">
            <label class="form-label" for="title">Name (Tên):</label><span class="text-danger">*</span>
            <input class="form-control" required type="text" th:field="*{title}" id="title" placeholder="Enter title" autofocus>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="price">Price (Giá):</label><span class="text-danger">*</span>
            <input class="form-control" required type="text" th:field="*{price}" id="price" placeholder="Enter price">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="quantity">Quantity (Số lượng):</label><span class="text-danger">*</span>
            <input class="form-control" required min="0" type="number" th:field="*{quantity}" id="quantity" placeholder="Enter quantity">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="category">Category (Danh mục):</label><span class="text-danger">*</span>
            <select class="form-control" id="category" name="category.id">
                <option value="">-- Select Category --</option>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="caloriesPerGram">Calories per 100g (Calo trên 100g):</label><span class="text-danger">*</span>
            <input class="form-control" required min="0" type="number" th:field="*{caloriesPerGram}" id="caloriesPerGram" placeholder="Enter caloriesPerGram">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="protein">Protein (Hàm lượng chất đạm):</label>
            <input class="form-control"  min="0" type="number" th:field="*{protein}" id="protein" placeholder="Enter protein">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="carbs">Carbs (Hàm lượng tinh bột):</label>
            <input class="form-control"  min="0" type="number" th:field="*{carbs}" id="carbs" placeholder="Enter carbs">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="fat">Fat (Hàm lượng chất béo):</label>
            <input class="form-control" min="0" type="number" th:field="*{fat}" id="fat" placeholder="Enter fat">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="alcohol">Alcohol (Hàm lượng cồn):</label>
            <input class="form-control" min="0" type="number" th:field="*{alcohol}" id="alcohol" placeholder="Enter alcohol">
        </div>

        <div class="col-6 mb-3">
            <label class="form-label" for="image">Image (Hình ảnh):</label>
            <input class="form-control" type="file" id="image" name="image" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Save">
    </form>
    <br>
    <a th:href="@{/products}" class="btn btn-danger">Back to List</a>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>