<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            max-width: 1200px;
        }
        .card-header {
            background-color: gainsboro;
            color: #fff;
        }
        .table th {
            background-color: gainsboro;
        }
        .table td, .table th {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">Order Details</h2>
        </div>
        <div class="card-body">
            <div th:if="${order != null}">
                <div class="card mb-4">
                    <div class="card-body">
                        <p><strong>Order ID:</strong> <span th:text="${order.id}"></span></p>
                        <p><strong>Customer Name:</strong> <span th:text="${order.customerName}"></span></p>
                        <p><strong>Order Date:</strong> <span th:text="${order.invoiceDate}"></span></p>
                        <p><strong>Shipping Address:</strong> <span th:text="${order.shippingAddress}"></span></p>
                    </div>
                </div>
                <h2 class="mb-3">Order Items</h2>
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${order.itemInvoices}">
                        <td th:text="${item.product.title}"></td>
                        <td th:text="${item.quantity}"></td>
                        <td th:text="${item.product.price}"></td>
                    </tr>
                    </tbody>
                </table>
                <p><strong>Total:</strong> <span th:text="${order.getPrice()}"></span></p>
            </div>
            <div th:if="${order == null}" class="alert alert-warning">
                <p>Order not found.</p>
            </div>
            <a th:href="@{/cart}" class="btn btn-primary mt-3">Back to Orders</a>
        </div>
    </div>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>
